*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;

}

div{
    display: flex;
}

.btn{
    display:block;
    margin-left: auto;
    margin-right: auto;
}